<div ng-controller="showPlayerController" ng-init="getPlayer()">
<div  class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Taquillas y Jugadores</h1>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
          <div class="inline m-r text-left">
            <div class="m-b-xs">{{summary.player.taq}} <span class="text-muted">Taquillas</span></div>
        
          </div>
          <div class="inline text-left">
            <div class="m-b-xs">{{summary.player.onl}} <span class="text-muted">Jugadores</span></div>
          </div>
        </div>
      </div>
</div>
    <div class="wrapper-md">
   <div class="panel panel-default" ng-show="isLoadingData">
            <div class="center-block center_loading">
            <h3>Buscando la Información de los Jugador y Taquillas</h3>
            <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Cargando...</button>
            </div>
        </div>
    <div class="panel panel-default" ng-hide="isLoadingData">
        <div class="panel-heading">
            Lista de Jugadores y Taquillas
            <div class="col-md-2 pull-right">
                <div class="form-group">
                <div class="input-group">
                  <input type="text" ng-model="search" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" placeholder="Buscar Jugador..." aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-00F-74"><!-- ngIf: isOpen() -->
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped m-b-none">
            <thead>
              <tr>
                <th></th>
                <th>Agente</th>
                <th>Usuario</th>
                <th class="hidden-xs">Nombre de Taquilla</th>
                <th class="hidden-xs">Responsable</th>
                <th class="hidden-xs">Tipo</th>
                <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players |filter:searchGamer" ng-show="showItem($index)">
                    <td ng-click="showDetail($index)" ng-bind-html="iconPlus"></td>
                    <td>{{player.nameagente}}</td>
                    <td>{{player.username}}</td>
                    <td class="hidden-xs">{{player.nameagencia}}</td>
                    <td class="hidden-xs">{{(player.responsable=='')?'Responsable No Indicado':player.responsable}}</td>
                    <td class="hidden-xs">{{player.istaquilla?'Taquilla':'Jugador'}}</td>
                    <td> <div class="btn-group" role="group" aria-label="...">
                            <button ng-click="update(player)" type="button" class="btn btn-default"><span ><i class="fa fa-pencil-square-o"></i></span><span>Editar</span></button>
                            <button ng-click="free(player)" type="button" class="btn btn-default"><span ng-bind-html="iconLock"></span><span>Liberar</span></button>
                            <button ng-click="reset(player)" type="button" class="btn btn-default"><span ng-bind-html="iconKey"></span><span>Reset Pass</span></button>
                            <button ng-click="changeStat(player)" type="button" class="btn btn-default"><span ng-bind-html="iconToggleOn"></span><span>Desactivar</span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <nav >
            <ul class="pagination pagination-sm">
                <li ng-click="$event.preventDefault();prevPage()">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-show="totalPagination-currentPage<=showview"><a href="#">...</a></li>
                <li ng-repeat="value in getItemTotal()" ng-class="{'active': $index==currentPage}" ng-show="(showview+currentPage>$index&&($index>=currentPage||totalPagination-showview<=$index))||showview>totalPagination" ng-click="$event.preventDefault();changePage($index)">
                    <a href="#">{{value}}</a>
                </li>
                <li ng-click="$event.preventDefault();nextPage()" ng-show="totalPagination>showview" ng-hide="totalPagination-currentPage<=showview"><a href="#">...</a></li>
                <li ng-click="$event.preventDefault();nextPage()" ng-disable="totalPagination-1==currentPage">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
          </nav>
      </div>
  </div>
</div>
    
    </div>
