<div ng-controller="ticketPlayerController" ng-init="getTickets()" >
    <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <h1 class="m-n font-thin h3 text-black">Tickets Realizados</h1>
            </div>
               <div class="col-sm-6 text-right hidden-xs">
          <div class="inline m-r text-left">
            <div class="m-b-xs">{{summary.ticket.der}} <span class="text-muted">Derecho</span></div>
        
          </div>
          <div class="inline text-left">
            <div class="m-b-xs">{{summary.ticket.par}} <span class="text-muted">Parley</span></div>
          </div>
        </div>
          </div>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default" ng-show="isLoadingData">
            <div class="center-block center_loading">
            <h3>Buscando la Información de los Tickets Realizados</h3>
            <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Cargando...</button>
            </div>
        </div>
        <div class="panel panel-default" ng-hide="isLoadingData">
        <div class="panel-heading">
            Listado de Tickets
            <div>
                <div class="row" ng-init="getPlayers()">
            <div class="col-sm-6" >
                <div class="input-group" >
                <input type="text" 
                       class="form-control input-sm bg-light no-border rounded padder ng-pristine ng-valid" 
                       ng-enter="press()"   
                       placeholder="Escriba el numero del Ticket" ng-model="search" />
                    <div class="input-group-btn">
                        <button data-toggle="tooltip" title="Presione Aqui para Iniciar la Busqueda" type="button" class="btn btn-sm bg-light rounded" ng-click="press()">
                           <i class="fa fa-search"></i> Buscar
                        </button>
                        <button data-toggle="tooltip" title="Presione Aqui para Indicar parametros de Busqueda"  type="button" class="btn  btn-sm bg-light rounded" ng-click="openFilter()">
                            <span class="caret"></span>
                            <span class="sr-only">Busqueda Avanzada</span>
                         </button>
                        <ul class="dropdown-menu search-menu" role="menu" id="filters" >
                 <li>
                    <div class="panel-heading">Busqueda Avanzada</div>
                    <div class="panel-body">
                    <div>
                        <div ng-hide="hiddenmenu"  class="form-group input-group">
                            <span class="input-group-addon">Status</span>
                            <select ui-jq="selectpicker"  title="Seleccione Una Opcion" 
                                    multiple data-selected-text-format="count>3" 
                                    class="selectpicker" 
                                    data-ng-options="a.name for a in status" 
                                data-ng-model="stat">
                            </select>

                        </div>
                        <div ng-hide="hiddenmenu" class="form-group input-group"   >
                            <span class="input-group-addon">
                            <input type="checkbox" ng-model="ganador" >
                            </span>
                            <input type="text" readonly class="form-control" value="Pagado">
                        </div>
                    </div>
                    <div class="form-group input-group" >
                        <span class="input-group-addon">Desde</span>
                        <input type="text" class="form-control"  datepicker-popup="dd-MM-yyyy" ng-model="from" is-open="openedfrom" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Cerrar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,1)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div class="form-group input-group" ng-hide="hiddenmenu">
                        <span class="input-group-addon">Hasta</span>
                        <input type="text" class="form-control"  datepicker-popup="dd-MM-yyyy" ng-model="to" is-open="openedto" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Cerrar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,2)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>          
                    <div class="form-group input-group" ng-hide="hiddenmenu" >
                        <span class="input-group-addon">Agencia</span>
                        <select ui-jq="selectpicker"   multiple data-selected-text-format="count>3" title="Seleccione Una Opcion" class="selectpicker" data-ng-options="a.nameagencia for a in agencias"  data-ng-model="agencia">                    
                       </select>
                    </div>
                    </div>
                    </li>
                </ul>
                    </div>
                </div>
             </div>
            <div class="col-sm-6" >
                {{message}}
            </div>  
    </div>
            </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped m-b-none ticket-gamer">
            <thead>
              <tr>
                <th></th>
                <th>Ticket</th>
                <th>Fecha y Hora</th>
                <th class="hidden-xs">Jugador</th>
                <th class="hidden-xs">Descripcion</th>
                <th class="hidden-xs">Tipo</th>
                <th class="hidden-xs">Status</th>
                <th class="hidden-xs">Monto</th>
                <th>A Ganar</th>
                <th>Cobrado</th>
                 <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in tickets |filter:checkSelectedAgencia |filter:checkSelectedStatus" ng-show="showItem($index)">
                    <td ng-click="openDetails($index)" ng-bind-html="iconPlus">
                        <button data-toggle="tooltip" title="Presione Aqui para Ver los Detalles del Ticket"  ng-bind-html="iconPlus">
                            <i  class='fa fa-plus-circle'></i>
                        </button>
                    </td>
                    <td>{{ticket.idticket}}</td>
                    <td>{{ticket.dateCreation}}</td>
                    <td class="hidden-xs">{{ticket.agencia}}</td>
                    <td>{{ticket.descripcion}}</td>
                    <td class="hidden-xs">{{ticket.typebet}}</td>
                    <td class="hidden-xs">{{ticket.status}}</td>
                    <td class="hidden-xs">{{formato(ticket.riskamount)}}</td>
                    <td>{{formato(ticket.winamount)}}</td>
                    <td>{{(ticket.amount>0)?formato(ticket.riskamount+ticket.amount):ticket.amount}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" ng-click="openDialogConfirm(ticket,0)"><span ng-bind-html="iconDelete"></span><span>Borrar</span></button>
                            <button type="button" class="btn btn-default" ng-click="openDialogConfirm(ticket,1)"><span ng-bind-html="iconMoney"></span><span>Pagar</span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <nav >
            <ul class="pagination pagination-sm">
                <li ng-click="$event.preventDefault();prevPage()">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-show="totalPagination-currentPage<=showview"><a href="#">...</a></li>
                <li ng-repeat="value in getItemTotal()" ng-class="{'active': $index==currentPage}" ng-show="(showview+currentPage>$index&&($index>=currentPage||totalPagination-showview<=$index))||showview>totalPagination" ng-click="$event.preventDefault();changePage($index)">
                    <a href="#">{{value}}</a>
                </li>
                <li ng-click="$event.preventDefault();nextPage()" ng-show="totalPagination>showview" ng-hide="totalPagination-currentPage<=showview"><a href="#">...</a></li>
                <li ng-click="$event.preventDefault();nextPage()" ng-disable="totalPagination-1==currentPage">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
          </nav>
      </div>
      </div>
    </div>
</div>