<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>ACPaley</description>
    <display-name>Administracion Parlay</display-name>
    <distributable/>
    <servlet>
        <servlet-name>SecurityServletCheck</servlet-name>
        <servlet-class>security.servlet.SecurityServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <env-entry>
        <env-entry-name>server</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>200.11.214.218</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>port</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>36543</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>driver</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>net.sourceforge.jtds.jdbc.Driver</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>user</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>simon</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>pass</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>simon123</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>jdbc:jtds:sqlserver://</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>database</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>softech3</env-entry-value>
    </env-entry>
    <listener>
        <listener-class>security.filter.SessionTracker</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>SecurityServletCheck</servlet-name>
        <url-pattern>/updateSecurity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
